*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
}

h1{
    font-size: 2rem;
}

.container{
    width: 100%;
    padding: 20px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

img{
    max-width: 100%;
}
/* quando a largura maxima for de até */
@media (max-width: 320px) and (max-width: 480px){
    .container{
        grid-template-columns: 1fr;
    }

    h1{
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) and (max-width: 1024px){

}

@media (max-width: 1024px) and (max-width: 1280px){

}

@media (max-width: 1280px) and (max-width: 1440px){

}