*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(185, 185, 185);
    display: flex;
    justify-content: space-around;
}

ul{
    display: flex;
    gap: 40px;
    
}

li{
    padding: 20px;
    list-style: none;
}

a{
    
    text-decoration: none;
}