*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #1e1e1e;
    color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: #2c2c2c;
    padding: 2rem;
    border-radius: 8px;
    box-sizing: 0 2px 8px rgba(0,0,0,0,7);
}

