*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #1e1e1e;
    color: #3d66eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: #e2e2e2;
    padding: 4rem;
    border-radius: 8px;
    box-sizing: 0 2px 8px rgba(0,0,0,0,7);
}

#input-item{
    border-radius: 10px;
    padding: 1rem;
    border: none;
    font-weight: bold;
    font-size: 1rem;
}

button{
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    margin: 2rem 0 0 0;
}

.adicionar{
    background-color: #64ca4a;
}

.adicionar:hover{
    background-color: #3aa021;
}

.adicionar:active{
    background-color: #277e11;
}

.limpar{
    background-color: #eb7d61;
    color: white;
}

.limpar:hover{
    background-color: #be4c2f;
}

.limpar:active{
    background-color: #b93211;
}

.limparComprados{
    background-color: #3d66eb;
}

.limparComprados:hover{
    background-color: #203d9b;
}

.limparComprados:active{
    background-color: #082da7;
}

/* Elementos da Lista, span, btnRemover, btnComprado */
#lista-itens{
    list-style: none;
    color: #1e1e1e;
    font-size: 2rem;
}

.remover{
    margin-left: 10px;
    padding: 10px; 
    border: 1px solid #b93211;
}

.comprado{
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #277e11;
}

.true{
    background-color: #277e11;
}

